ENVIROMENT=dev/prod
SECRET_KEY=secret-key
DEBUG=True
ALLOWED_HOSTS=localhost
DATABASE_URL=your database url, like:postgres://USER:PASSWORD@HOST:PORT/DB_NAME

# Razorpay Configuration
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret

# Superadmin Credentials (for create_superadmin command)
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_EMAIL=admin@bookshelf.com
SUPERADMIN_PASSWORD=YourSecurePassword123!
SUPERADMIN_FIRST_NAME=Super
SUPERADMIN_LAST_NAME=Admin
SUPERADMIN_PHONE=0000000000


REDIS_URL=redis://127.0.0.1:6379/1
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

# Email (Update with your SMTP credentials)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=123
EMAIL_USE_TLS=True
EMAIL_HOST_USER=test@gmail.com
EMAIL_HOST_PASSWORD=vfkhdgvkdc
DEFAULT_FROM_EMAIL=test@gmail.com

# OTP Settings
OTP_EXPIRY_MINUTES=5
OTP_LENGTH=6

JWT_ACCESS_TOKEN_MINUTES=120
JWT_REFRESH_TOKEN_DAYS=7

# New Relic Configuration
NEW_RELIC_LICENSE_KEY=your_new_relic_license_key
NEW_RELIC_APP_NAME=BookShelf-API-Prod

# SSL Configuration (Certbot)
DOMAIN_NAME=doman.com
CERTBOT_EMAIL=email_id